<div class="post <%= "post--border" if action_name == "index" %>">
  <div class="post__meta">
    <span class="post__meta-author"><%= post.author.name %></span>
    <span class="post__meta-published"><%= l(post.created_at.to_date, format: :short) %></span>
    <span class="post__meta-divider"></span>
    <span class="post__meta-comments"><%= pluralize(post.comments.count, "Comment") %></span>
  </div>
  <h2 class="post__title">
    <% if local_assigns[:link_title].presence %>
      <%= link_to(post.title, post) %>
    <% else %>
      <%= post.title %>
    <% end %>
  </h2>
  <div class="post__body">
    <% if local_assigns[:expand_body].presence %>
      <% if policy(post).read? %>
        <%= sanitize(post.body) %>
      <% else %>
        <%= sanitize(post.body.truncate(1500, omission: "...")) %>
        <%= render partial: "post_purchase", locals: { post: post } %>
      <% end%>
    <% else %>
      <%= sanitize(post.body.truncate(200, omission: "...")) %>
      <%= link_to "Read more...", post, class: "post__continue" %>
    <% end %>
  </div>
</div>