<div class="post__purchase-notification">
  <h1>Payment</h1>
  <p><%= t("purchase.prompt") %></p>
  <% if current_user %>
    <%= link_to(t("purchase.button"), "#", id: "purchase", class: "form__button form__button--primary") %>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
      const stripe = Stripe('<%= Rails.application.secrets.stripe_publishable_key %>')

      const handleResult = result => {
        if (result.error) {
          let displayError = document.querySelector('#purchase-error')
          let customerMessage =
            'We are sorry but purchasing error occurred. Please contact support.'
          displayError.textContent = customerMessage
          console.error(result.error.message) // log with bug tracking service
        }
      }

      const checkout = data => {
        stripe
          .redirectToCheckout({ sessionId: data.sessionId })
          .then(handleResult)
      }

      const getCSRF = () => {
        const csrfElement = document.querySelector('meta[name="csrf-token"]')
        let csrfToken
        if (csrfElement !== null) {
          csrfToken = csrfElement.content
        }
        return csrfToken
      }

      const checkoutListener = event => {
        event.preventDefault()

        const csrfToken = getCSRF()

        const purchaseSessionUrl = '<%= post_purchases_url(post) %>'
        const purchaseSessionArguments = {
          method: 'POST',
          headers: { 'X-CSRF-Token': csrfToken }
        }

        fetch(purchaseSessionUrl, purchaseSessionArguments)
          .then(result => { return result.json() })
          .then(checkout)
      }

      document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('#purchase').addEventListener('click', checkoutListener)
      })
    </script>
  <% else %>
    <%= link_to(t("login.text"), login_path, class: "form__button form__button--primary") %>
  <% end %>
</div>

