.form__field {
  position: relative;
  margin-bottom: 45px;
}

.form__control {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 700px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.182353);;

  &:focus {
    outline:none;
  }
}

.form__label {
  color: rgba(0, 0, 0, 0.182353);
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.form__control:focus ~ .form__label,
.form__control:valid ~ .form__label {
  top: -20px;
  font-size: 14px;
  color: $color-primary;
}

.form__bar {
  position: relative;
  display: block;
  width: 700px;
}

.form__bar:before,
.form__bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: $color-primary;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.form__bar:before {
  left: 50%;
}

.form__bar:after {
  right: 50%;
}

.form__control:focus ~ .form__bar:before,
.form__control:focus ~ .form__bar:after {
  width: 50%;
}

.form__highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.form__control:focus ~ .form__highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  from {
    background: $color-primary;
  }

  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: $color-primary;
  }

  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: $color-primary;
  }

  to {
    width: 0;
    background: transparent;
  }
}
