.post {
  &.post--border {
    -webkit-box-shadow: rgba(0, 0, 0, 0.0392157) 0px 1px 4px 0px;
    box-shadow: rgba(0, 0, 0, 0.0392157) 0px 1px 4px 0px;
    border-color: rgba(0, 0, 0, 0.0901961);
    border-style: solid;
    border-radius: 3px;
    margin-top: 20px;
    padding: 20px 20px 15px;
    border-width: 1px;
  }

  &.post--border &__title>a:hover,
  &.post--border &__body,
  &.post--border &__continue {
    cursor: pointer;
  }

  &__meta-author,
  &__meta-published,
  &__meta-comments,
  &__continue {
    color: rgba(0, 0, 0, 0.482353);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 13px;
    line-height: 21px;
    text-decoration: none;
  }

  &__meta-author {
    color: $color-primary;
    display: block;
  }

  &__meta-divider {
    color: rgba(0, 0, 0, 0.541176);
    fill: rgba(0, 0, 0, 0.541176);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 15px;
    line-height: 21px;
    padding-left: 4.5px;
    padding-right: 4.5px;

    &::after {
      content: "·";
    }
  }

  &__title {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, sans-serif;

    &>a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.843137);
      font-size: 30px;
      line-height: 31px;
      padding-top: 5px;
      display: block;
    }
  }

  &__body {
    color: rgba(0, 0, 0, 0.843137);
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 28px;
    margin-top: 24px;

    h2 {
      font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, sans-serif;
      color: rgba(0, 0, 0, 0.843137);
      font-size: 26px;
      line-height: 31px;
      margin-top: 30px;
      margin-bottom: 0;
      display: block;
    }

    h2+p {
      margin-top: 6px;
    }
  }

  &__continue {
    color: rgba(0, 0, 0, 0.482353);
    display: block;
    text-decoration: none;
    margin-top: 10px;

    &:hover {
      color: rgba(0, 0, 0, 0.682353);
      transition-delay: 0s;
      transition-duration: 0.2s;
      transition-property: color;
      transition-timing-function: ease;
    }
  }

  &__purchase-notification {
    -webkit-box-shadow: rgba(0, 0, 0, 0.0392157) 0px 1px 4px 0px;
    box-shadow: rgba(0, 0, 0, 0.0392157) 0px 1px 4px 0px;
    border-color: rgba(0, 0, 0, 0.0901961);
    border-style: solid;
    border-radius: 3px;
    margin-top: 24.12px;
    padding: 24.12px;
    border-width: 1px;
    text-align: center;
    color: rgba(0, 0, 0, 0.482353);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    h1 {
      margin-top: 0;
    }
  }
}